
@{
    ViewBag.Title = "Client";
}
<div>
    <div class="row" style="border: 1px solid #808080; border-image: none; margin-top:1%; height:500px" >
        <div class="col-lg-6" style="padding: 1% 1% 1% 1%; width: 20%; float: left;" >
            <h5 style="text-decoration:underline">Select Curves</h5>

            @foreach (var item in ViewBag.CurveHeaders)
            {
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="SelectedHeaders"
                               value="@item.Value" /> @item.Text
                        </label>
                    </div>
            }
            <button id="btStart" type="button" class="btn-default">Start</button>
            <button id="btStop" type="button" class="btn-default">Stop</button>
          
        </div>
        <div class="col-lg-6" style="padding:1% 1% 1% 1%; height:450px">
            <h5 id="hCurvesData" style="text-decoration:underline" >Curves Data</h5>

            <div id="CurveDetails" style="height:400px;overflow-y:auto; position:relative; width:800px">

                <table id="tblCurveDetails" class="table table-hover"></table>
               
            </div>

        </div>
        
    </div>

    <div id="btExport" style="float:right;margin-top:1%">
        @Html.ActionLink("Download as XML", "ExportData", new {})
    </div>
  
</div>
@section Scripts  {


    <script>
        $(document).ready(function () {
           
            $("#hCurvesData").hide();
            $("#btStop").attr("disabled", true);

            $("#btExport").hide();

            $("#btStart").click(function () {

                var curves = [];

                $('input[name="SelectedHeaders"]:checked').each(function () {
                    // console.log(this.value);
                    curves.push(this.value);
                });

                if (curves.length == 0) {
                    alert("Please select any curve");
                    return;
                }
                
                InvokeDataTransfer(curves);
               
            });
            

            //------------------------------------------------------------------------------

            $("#btStop").click(function () {

                $.ajax({
                    url: '/Client/StopDataTransfer',
                    type: "POST",
                    data: {},
                    dataType: "text",
                    async: false,
                    success: function (data) {

                        $("#btExport").show();
                        $("#btStop").attr("disabled", true);
                        $("#btStart").attr("disabled", false);
                    }
                    ,
                    error: function (xhr, ajaxOptions, thrownError) {

                        clearInterval(timer);

                        if (xhr.status == 500) {
                            alert("Error : Data server seems to be down");
                        }
                        else {
                            alert(thrownError);
                        }
                    }
                });
            });

        });

    </script>

     <script>
        

         function SetTableView(curves)
         {
             $("#tblCurveDetails").css({"width" : "50%;"})
             $("#tblCurveDetails").empty();
             $('#tblCurveDetails').append('<tr id="tblHeader"></tr>');
             $('#tblHeader').append('<th>index</th>');
             $.each(curves, function () {

                 $('#tblHeader').append('<th>' + this + '</th>');
             })
        

         }

         function AddDataRowToTable(curves) {

             if (curves[0] != "")
             {
                 $('#tblCurveDetails').append('<tr id="' + curves[0] + '"></tr>');
                 $.each(curves, function () {


                     $('#' + curves[0]).append('<td>' + this + '</td>');
                 })
             }
         }

         function InvokeDataTransfer(curves) {

             $.ajax({
                 url: '/Client/InvokeDataTransfer',
                 type: "POST",
                 data: {curves: curves},
                 dataType: "text",
                 async: false,
                 success: function (data) {

                     SetTableView(curves);
                     clearInterval(timer);
                     setInterval(timer, 10000);

                     $("#hCurvesData").show();
                     $("#btStart").attr("disabled", true);
                     $("#btExport").hide();
                     $("#btStop").attr("disabled", false);
                 },
                 error: function (xhr, ajaxOptions, thrownError) {

                     clearInterval(timer);
                     if (xhr.status == 500)
                     {
                         alert("Error : Data server seems to be down");
                     }
                     else
                     {
                         alert(thrownError);
                     }
                     
                 }
             });

         };
         
      var timer = function  SubscribeData() {
            
            $.ajax({
                url: '/Client/SubscribeData',
                type: "POST",
                data: {},
                dataType: "text",
                async: true,
                success: function (data) {

                    var curvesData = JSON.parse(data);
                    AddDataRowToTable(curvesData);
                }
                ,
                error: function (xhr, ajaxOptions, thrownError) {

                    clearInterval(timer);

                    if (xhr.status == 500) {
                        alert("Error : Data server seems to be down");
                    }
                    else {
                        alert(thrownError);
                    }
                }
            });
             
         };
         
     </script>

 }


